{% extends "nav_base.html" %}
{% block content %}

<h3>Global list of connected hubs</h3>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Hub Name</th>
			<th>Location</th>
			<th>Is Connected</th>
			<th>Time Since <br />Last Connection</th>
		</tr>
	</thead>
	<tbody>
		{% for hub in hubs %}
		<tr>
			<td><a href="{% url 'edit_hub' pk=hub.id %}">{{ hub.name }}</a></td>
			<td>{{ hub.location }}</td>
			<td>{{ hub.connected }}</td>
			{% if hub.connected %}
			<td>{{ hub.connected_duration }}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
    {% bootstrap_pagination page_obj %}
{% endif %}

{% endblock %}
