{% extends "nav_base.html" %}
{% load bootstrap3 %}
{% block content %}

<style>
    .l-box {
        padding: 2em;
    }
</style>

<h2>Create Reservation</h2>

<div class="pure-g">
<div class="pure-u-1-2">
	<div class="l-box">
	<h4>Option 1: Reserve for User</h4>
	<p>This action will reserve your item for the specified user.
		After you stock it, no one other than yourself or the intended user will be able
		to open the locker.</p>
	<p>Are you sure?</p>
	<form class="pure-form pure-form-aligned" action="{% url 'make_reservation' item.id %}" method="post">
				<div class="pure-control-group">
		{% csrf_token %}
		{{ user_form.as_p }}
	</div>
		<input type="submit" name="user_reservation" value="Yes, Reserve for User" />
	</form>
</div>
</div>

<div class="pure-u-1-2">
	<div class="l-box">
	<h4>Option 2: Reserve with Hash</h4>
	<p>This action will create a unique URL that you can give to the intended
		recipient of the item, even if they do not have an account.</p>
	<p>Are you sure?</p>
	<form class="pure-form pure-form-aligned" action="{% url 'make_reservation' item.id %}" method="post">
		<div class="pure-control-group">
		{% csrf_token %}
		{{ hash_form.as_p }}
		</div>
		<input type="submit" name="hash_reservation" value="Yes, Create Hash" />
	</form>
	</div>
</div>
</div>

{% endblock %}
