{% extends "nav_base.html" %}
{% block content %}

<h3>Reservation Details and Instructions</h3>

{% if reservation.is_open %}
{% if reservation.buyer.exists %}

<p>The reservation is currently outstanding and can be opened
	by the following account.</p>
<ul>
	<li>Item: {{ reservation.item }}</li>
	<li>Receiver: {{ reservation.buyer }}</li>
</ul>

{% else %}

<p>The reservation is outstanding, and can be opened by anyone with the following URL.
	Please be careful who you share this with</p>

	<ul>
		<li>Item: {{ reservation.item }}</li>
	</ul>

	<p><b>{{ hash_url }}</b></p>
	<p><b><a href="{{ hash_url }}" target="_blank">Open link in new window</a></b></p>

{% endif %}

<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="edit Reservation" />
</form>

{% else %}

<p>This reservation has been closed</p>

{% endif %}


{% endblock %}
