.container {
  width: 100%;
  padding: 1em;
  text-align: center; }

.hero-container {
  background: #1f8dd6;
  z-index: -1;
  overflow: hidden;
  height: 100%; }

.section1 {
  background-color: RGBA(36, 40, 56, 1);
  position: absolute;
  height: 50%; }

.header {
  padding: 1.5em; }

ul {
  position: absolute;
  top: 0;
  right: 0; }

ul li {
  display: inline-block;
  padding-right: 0.5em; }

a {
  color: RGBA(59, 194, 91, 1);
  text-decoration: none; }
