
{% extends "profiles/base.html" %}


{% block content %}
  <div class="login">
{% if user.is_authenticated %}
    <p><a href="/logout/">log out</a> to create a new account</p>
    <p>Or view your <a href="/#/dashboard/">dashboard</a></p>
{% else %}
    <h2 >Register</h2>

    <form method="POST" action="{% url 'user_register' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input  class="pure-button pure-button-primary" type="submit" name="submit" value="Register"/>
    </form>
{% endif %}
 </div>
{% endblock %}
