<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#"><img src="static/img/shareLOGO.svg"></a>

            <ul class="pure-menu-list">
              
                <li class="pure-menu-item items"><button class="icon-archive pure-menu-link">Reservations</button></li>        
                
                <li class="pure-menu-item help"><button class="icon-question-1 pure-menu-link"> Help  </button></li> 
                
<!--                
                <li class="pure-menu-item location"><button class="icon-location pure-menu-link">Locations</button></li>

                 <li class="pure-menu-item profile"><button class="icon-user-1 pure-menu-link">My Profile</button></li>-->

                
                <li class="pure-menu-item logout"><a href="logout/"><button class="icon-sign-out pure-menu-link"> Log Out</button></a></li>
            </ul>
        </div>

    </div>

<!--API SECTION is BELLOW-->
    <div id="main">
        <div class="header">
            <h1 class="title">Welcome <span class="this-user"> </span></h1>
            
        </div>

        <div class="content">
          <h2 class="center ">Credits: <span class="this-credits"></span></h2>
          
      <div class="generated"></div>
    <div class="faq-container">
        <button class="close-help">X</button>
             <!--<div class="faq">-->
               <h2>Help Section</h2>
               <h2>Buying</h2>
                <p> Step 1. Register from the landing page.</p>
                
                <p> Step 2. Start browsing lockers by clicking on them.</p>
                
                <p> Step 3. See something you like? Click "Buy" and confirm the purchase. Then choose "Open Now" to open immediately or "Open Later" to reserve the item in the locker until you can pick it up. You can later click the "Open" button from the locker details page to retrieve your item.</p>
                 
                <h2>Selling</h2>
                <p> Step 1. Log in or register from the landing page.</p>
                <p> Step 2. Click an empty locker and choose "Stock".</p>
                <p> Step 3. Enter the items details, snap a picture, and click "Stock Item". Or if are reselling an item you bought through ShareLockers, simply select it from the dropdown, update any needed information, and click "Stock Item". </p>
             <!--</div>-->
      </div>
        </div>
    </div>
</div>

