<div class="my-page-header">
    <div>
        <a href=" "><img src="static/img/logo.svg"></a>
        <ul class="select">
            <!--<li><a href=" ">Home</a></li>-->
            <li><a href="/login"><button >Log-in</button></a></li>
            <li><a href="/register"><button class="register-btn">Register</button></a></li>

        </ul>
    </div>
</div>

<div class="container hero-container">
  <h1>Share Lockers</h1>
    <h5 class="tagline">Buy and Sell Locally with Confidence! </h5>

  <a href="/register"><button class="register-btn">Get Started</button></a>
 </div>
 

<div class="container section1">
  <h2 class="info">How Share Lockers Helps!</h2>
 
     

     <div class="info-card"><a href="#/location/locker"><h3>Search</h3><span class="flaticon-magnifying59"></span></a>
     <img src="img/search.png">
      
      
      <h6>First Search for a Locker Stack in your area. Then View Items for sale using our Virtual Lockers.</h6>
      
      </div>
      
      <div class="info-card"><a href="#/dashboard"><h3>Buy</h3><span class="flaticon-payment7"></a>
      <img src="img/buy.png">
      
        <h6>Choose an Item that you wish to purchase via our virtual lockers on desktop, tablet or mobile. When you ready go to th Locker Stack and pay for the Item and open up the locker to retrieve it with the push of a button!</h6>
      
      </div>
      
      <div class="info-card"><a href="#"><h3>Sell</h3><span class="flaticon-computers7"></a>
      <img src="../../../img/safe.png">
      
        <h6>Choose an Empty Locker via our Virtual Lockers. Provide an item name, description and Image and price. Go to the Locker Stack and stock your item in the assigned locker. Thats it, once your item is puchased the money will be credited to your account.</h6>
      
      </div>
      


</div>


<div class="container section2">
  <!--<h2 class="info">How does it work?</h2>-->


</div>


<div class=" section3">
  <h1 class="action-call">What are you waiting for!!</h1>
</div>





