<div class="my-page-header">
    <div>

        <!--<a href=" "><img src="static/img/logo.svg"></a>-->

        <ul class="select">
            <!--<li><a href=" ">Home</a></li>-->
            <li><a href="/login"><button class="login-btn" >Log-in</button></a></li>
            <li><a href="/register"><button class="register-btn">Register</button></a></li>

        </ul>
    </div>
</div>

<div  class="container hero-container">
  <h1 class="title">Share Lockers</h1>
    <h5 class="tagline">Buy and Sell Locally with Confidence! </h5>

  <a href="/register"><button  class="register-btn">Get Started</button></a>
  
  
 </div>
 

<div class="container section1">
  <h2 class="info">How Share Lockers Helps!</h2>
 
     
<div class="container home-icon-container section group">
     <div class="col span_1_of_3">
     <img class="home-icons" src="static/img/clock.png"></a>
      
      <a href="#/dashboard"> <h3>Immediate Access</h3></a>
      <p>See something you want? Buy it in a few taps from your cell phone.</p>
        <!--First Search for a Locker Stack in your area. Then View Items for sale using our Virtual Lockers.-->
      
      </div>
      
      <!--<div class="col span_1_of_4">
        <img class="home-icons" src="static/img/cart.png"></a>
        <a href="#/dashboard"><h3>Simplicity</h3></a>
        <p>See it. Buy it. Take it home.</p>
      
      </div>-->
      
      <div class="col span_1_of_3">
        <img class="home-icons" src="static/img/map.png">
        <h3>Local</h3>
        <p>No shipping means you save money while staying green. Win Win.</p>
      
      </div>
      
      <div class="col span_1_of_3">
        
        <img class="home-icons" src="static/img/thief.png" height="128" width="125">
        <h3>Trade Safely</h3>
        <p>All lockers are located in public areas and sales are conducted via our secure e-commerce platform. </p>
      </div>
</div>      
</div>


<div class="container section2">
  <!--<h2 class="info">How does it work?</h2>-->
  <div class="section group">
    <div class=" col span_1_of_2"><img src="static/img/mockup.jpg"></div>
    
    <div class="col span_2_of_2">
      <h3>Responsive design</h3>
      <p>Share Lockers is Desktop, Tablet, & Mobile Ready. You can stock Items, add pictures, buy, and sell from any device! </p>
    </div>
  </div>
</div>  


<div class="container section3">
  <h2 class="info">How it works!</h2>
 
     
<div class="home-icon-container section group">
     <div class="col span_1_of_3">
     <img class="home-icons" src="static/img/search.png"></a>
      
      <h3>Browse</h3>
      <p>Check out Lockers in your area in person or through our web portal. Simply click an item's photo to find out more.</p>
      
      </div>
      
      <div class="col span_1_of_3">
        <img class="home-icons" src="static/img/cart.png"></a>
        <h3>Buy</h3>
        <p>Provide your payment information to gain access to the locker and pay the seller. Reap the rewards of instant gratification.</p>
      
      </div>
      
      <div class="col span_1_of_3">
        <img class="home-icons" src="static/img/buy.png">
        <h3>Sell</h3>
        <p>Stock your item in an empty locker by providing basic information, an image, and a price. Or select a previously purchased item for resale.</p>
      
      </div>     
</div>   
   
</div>


<div class="container about-section">
  <h2 class="info">Meet the Team!</h2>
  <div class="home-icon-container section group">
     <div class="col span_1_of_5">
     <img class="headshot" src="static/img/falon.jpg"></a>
      
      <h3>Fa'lon</h3>
      <a href="mailto:falont23@gmail.com" class="contact-icon icon-letter-mail" ></a>
        <a href="https://www.linkedin.com/pub/falon-thomas/83/618/495" class="contact-icon icon-linkedin-alt" target="_blank"></a>
        <a href="https://github.com/falont23" class="contact-icon icon-fontawesome-webfont" target="_blank"></a>
      <p>Front-End Engineer</p>
      
      </div>
      
      <div class="col span_1_of_5">
        <img class="headshot" src="static/img/brendan.jpg"></a>
        <h3>Brendan</h3>
        <a href="mailto:brendan.c.collins@gmail.com" class="contact-icon icon-letter-mail"></a>
        <a href="https://github.com/wholetthedogsout" class="contact-icon icon-linkedin-alt" target="_blank"></a>
        <a href="https://www.linkedin.com/in/brendanccollins" class="contact-icon icon-fontawesome-webfont" target="_blank"></a>
        <p>Front-End Engineer</p>
      
      </div>
      
      <div class="col span_1_of_5">
        <img class="headshot" src="static/img/alan.jpg">
        <h3>Alan</h3>
        <a href="mailto:alan.rominger@gmail.com" class="contact-icon icon-letter-mail"></a>
        <a href="https://www.linkedin.com/pub/alan-rominger/18/365/402" class="contact-icon icon-linkedin-alt" target="_blank"></a>
        <a href="https://github.com/AlanCoding" class="contact-icon icon-fontawesome-webfont" target="_blank"></a>
        <p>Python Engineer</p>
      
      </div>     
      
      <div class="col span_1_of_5">
        <img class="headshot" src="static/img/john.png"></a>
        <h3>John</h3>
        <a href="mailto:johnwaldrep@gmail.com" class="contact-icon icon-letter-mail"></a>
        <a href="https://github.com/jwaldrep" class="contact-icon icon-fontawesome-webfont" target="_blank"></a>
        <p>Python Engineer</p>
      
      </div>
      
      <div class="col span_1_of_5">
        <img class="headshot" src="static/img/manish.jpg"></a>
        <h3>Manish</h3>
        <a href="mailto:maddypatel@gmail.com" class="contact-icon icon-letter-mail"></a>
        <a href="https://www.linkedin.com/in/maddypatel" class="contact-icon icon-linkedin-alt" target="_blank"></a>
        <a href="https://github.com/maddypatel" class="contact-icon icon-fontawesome-webfont" target="_blank"></a>
        <p>Python Engineer</p>
      
      </div>
</div>   
</div>


<div class="container section5">
  <input type="text"placeholder="Email Adress">
  <button class="register-btn" type="submit">Join our NewsLetter</button>
</div>

<footer>© ShareLockers....add (facebook icon here)</footer>





