<div class="my-page-header">
    <div>

        <!--<a href=" "><img src="static/img/logo.svg"></a>-->

        <ul class="select">
            <!--<li><a href=" ">Home</a></li>-->
            <li><a href="/login"><button class="login-btn" >Log-in</button></a></li>
            <li><a href="/register"><button class="register-btn">Register</button></a></li>

        </ul>
    </div>
</div>

<div  class="container hero-container">
  <h1 class="title">Share Lockers</h1>
    <h5 class="tagline">Buy and Sell Locally with Confidence! </h5>

  <a href="/register"><button  class="register-btn">Get Started</button></a>
  
  
 </div>
 

<div class="container section1">
  <h2 class="info">How Share Lockers Helps!</h2>
 
     
<div class="home-icon-container section group">
     <div class="col span_1_of_4">
     <img class="home-icons" src="static/img/search.png"></a>
      
      <a href="#/location/locker"><h3>Search Locally</h3></a>
      <p>First Search for a Locker Stack in your area. Then View Items for sale using our Virtual Lockers.</p>
      
      </div>
      
      <div class="col span_1_of_4">
        <img class="home-icons" src="static/img/cart.png"></a>
        <a href="#/dashboard"><h3>Buy</h3></a>
        <p>Choose an Item that you wish to purchase via our virtual lockers on desktop, tablet or mobile. When you ready go to th Locker Stack and pay for the Item and open up the locker to retrieve it with the push of a button!</p>
      
      </div>
      
      <div class="col span_1_of_4">
        <img class="home-icons" src="static/img/like.png">
        <h3>Sell</h3>
        <p>Choose an Empty Locker via our Virtual Lockers. Provide an item name, description and Image and price. Go to the Locker Stack and stock your item in the assigned locker. Thats it, once your item is puchased the money will be credited to your account.</p>
      
      </div>
      
      <div class="col span_1_of_4">
        
        <img class="home-icons" src="static/img/thief.png" height="128" width="125">
        <h3>Trade Safely</h3>
        <p>All lockers are located in a public areas. Buy and sell without the fear of getting robbed!!!!!! </p>
      </div>
</div>      
      


</div>


<div class="container section2">
  <!--<h2 class="info">How does it work?</h2>-->
  <div class="section group">
    <div class="col span_1_of_2"><img src="static/img/mockup.jpg"></div>
    
    <div class="col span_2_of_2">
      <h3>Responsive design</h3>
      <p>Share Lockers is Desktop, Tablet, & Mobile Ready. You can stock Items, add pictures, buy, and sell from any device! </p>
    </div>
  </div>
  
<div>
    
</div>


</div>


<div class=" section3">
  <h1 class="action-call">What are you waiting for!!</h1>
</div>
<footer>© ShareLockers....add (facebook icon here)</footer>





