
<h1 class="locker-header">
    Local Lockers
</h1>


<div class="locker-bank">
</div>
<div class="stock-wrapper">
</div>

<div class="action-container">
<div class="vpopout">
		<img class="item-photo" src=''>
		<span class="lockerDetails"></span>
		<button class="close">X</button>
		<button class="open-button" data-id =''>Open</button>
		<button class="stock-button" data-id=''>STOCK</button>
		<button class="buy-button" data-id = ''>Buy</button>
</div>




<div class="stock-container">

<h4>Stock With an Item in Your Inventory</h4>
<button class="close">X</button>
<div class="item-select">
 </div>

<h4>or Stock With a New Item</h4>

<form class="stock-item">
	
	<input class="item-title" placeholder="Title">
	<textarea class="item-description" rows="4" cols="30" placeholder="Item Description"></textarea>
	<input class="item-price" placeholder="price"><br>
	<span>Image:  </span><input class="photo-input" type="file" placeholder="image">
	<input class="item-id" type="hidden">
	<button class="item-stock">Stock Item</button>	
</form>
 
</div>

	<div class="not-loggedin-container">
		<button class="close">X</button>
		<form class="not-loggedin">
			<h4>Login to Proceed</h4>
			<input class="username-login" placeholder="Username">
			<input class="user-password" placeholder="Password" type="password">
			<button class="lgn-button">Login</button>
		</form>	
	</div>
</div>






