<div class="header">
    <div>
        <a href="">(logo)Share Lockers</a>
        <ul class="select">
            <li><a href="#">Home</a></li>
            <li><a href="/login">Log-in</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</div>

<h1 class="locker-header">
    Local Lockers
</h1>


<div class="locker-bank">
</div>

<form action="/charge/" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_2y7WaFRrQxEvoao2AmIgC6Cc"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>



