<div class="header">
    <div>
        <a href="">(logo)Share Lockers</a>
        <ul class="select">
            <li><a href="#">Home</a></li>
            <li><a href="/login">Log-in</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</div>

<h1 class="locker-header">
    Local Lockers
</h1>


<div class="locker-bank">
</div>

<div class="stock-wrapper">
</div>
<div class="stock-container">
<button class="close">X</button>
<h4>Stock With an Item in Your Inventory</h4>

<div class="item-select">
 </div>

<h4>or Stock With a New Item</h4>

<form class="stock-item">
	
	<input class="item-title" placeholder="Title">
	<textarea class="item-description" rows="4" cols="50" placeholder="Item Description"></textarea>
	<input class="item-price" placeholder="price"><br>
	<span>Image: </span><input class="item-photo" type="file">
	<input class="item-id" type="hidden">
	<button class="item-stock">Stock Item</button>	
</form>
   
</div>




