{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Share Lockers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  


  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <link href="https://fontastic.s3.amazonaws.com/R5EKLc6zGYYXkDCAQFMpiW/icons.css" rel="stylesheet">
</head>

<body>
  <div><a type="hidden" href="#" class="user-id" data-name="{{ user.username }}" data-credits="{{ user.profile.credits }}" data-id="{{user.profile.id}}" data-alias="{{ user.profile.alias }}">{{ user.username }} {{ user.profile.credits }}</a></div>
  
  
  <div class="main-content"></div>

  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/views.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>
