{% extends "nav_base.html" %}
{% block content %}

<h3>Items Available in Local Community</h3>

<h2>Request item to prompt owner to stock in this commerce hub.</h2>

<p>
	<ul>
		<li>Name:{{ hub.name }}</li>
		<li>Location: {{ hub.location }}</li>
	</ul>
</p>

<table class="pure-table pure-table-bordered" align="center">
	<thead>
		<tr>
			<th>Item</th>
			<th>Description</th>
			<th>Price</th>
			<th>Image</th>
			<th>Make Request</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td>{{ item.title }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.price }}</td>
			<td><img src="{{PHOTO_STATIC_URL}}{{ item.photo }}" width=100 height=100 /></td>
			<td><a href="{% url 'make_request' pk=item.id %}">Request</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if hubs %}
<p>View other Share Lockers hubs</p>
<p>
{% for ahub in hubs %}
<a href="{% url 'view_marketplace' pk=ahub.pk}">{{ ahub.name }}</a>,
{% endfor %}
</p>
{% endif %}

{% endblock %}
