<div class="my-page-header">
    <div>
        <a href=" ">(logo)Share Lockers</a>
        <ul class="select">
            <!--<li><a href=" ">Home</a></li>-->
            <li><a href="/login"><button >Log-in</button></a></li>
            <li><a href="/register"><button class="register-btn" >Register</button></a></li>
        </ul>
    </div>
</div>

<div class="container hero-container">
  <h1>Share Lockers</h1>
  <h5>Buy and Sell Locally with Confidence! </h5>
  <a href="/register"><button class="register-btn">Get Started</button></a>
 </div>
 

<div class="container section1">
   <div class="pure-g">
    <div class="info pure-u-1 pure-u-md-1-2 pure-u-lg-1-3"><a href="#">Search</a></div>
    <div class="info pure-u-1 pure-u-md-1-2 pure-u-lg-1-3"><a href="#">Buy</a></div>
    <div class="info pure-u-1 pure-u-md-1-2 pure-u-lg-1-3"><a href="#">Share</a></div>
  </div>
</div>


<div class="container section2">
  bob bob bob
</div>


<div class="container section3">
  <h1>What are you waiting for!!</h1>
</div>



