@import 'variables';
@font-face{
  font-family: mainFont;
  src: url(Kadwa-Regular.ttf);
}

.container{
  padding: 0.5em 0;
  text-align: center;
  height: 100vh;
 
}

body{
  min-height: 4em;
  background-color: #eee;
}

h1 , h2 , h3{
 font-family: mainFont , serif;
}

h1{
  font-size: 5em;
}

h3 ,.tagline{
  font-size: 2.5em;
}
h3, .tagline {
  
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.hero-container {
 
  padding-top: 10em;
  background: RGBA(69, 136, 156, 1);
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background:
	  linear-gradient(
      RGBA(36, 40, 56, 0.5),
      RGBA(159, 129, 184, 1)
    ),
    url("../img/city.jpg");
    background-size: 100% 130%;
    background-repeat:no-repeat;

}

.section1{
  background-color:#eee;
  height: 100vh;
  margin-top: 100vh;
  
}

.section2{
	  background:
	  // linear-gradient(
    //   RGBA(36, 40, 56, 0.5),
    //   RGBA(159, 129, 184, 1)
    // ),
    url("../img/mockup.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    height:100vh;

}

.section3{

	  padding: 0.5em;
    text-align: center;
    margin-bottom:30em;
}

.section3 h1{
 
  padding: 0;
}

.my-page-header{
  padding:3em 1.5em;
  position: fixed;
  top:0;
  right: 0;
  left: 0;

}

.my-page-header.sticky {
  padding: 1.5em;
  background-color: RGBA(69, 136, 156, 1);

}

ul{
   position: absolute;
   top: 0;
   right:0;
}

ul li{
  display: inline-block;
  padding-right: 0.5em;
}

a{
  text-decoration: none;
}

.info{
  background-color:#eee;
}


.register-btn{
  background-color: $register-button;
  border: none;
  font-size: 2em;
  font-family: mainFont , serif;

}

button{
  border: none;
  border-radius: 10px;
  color: #eee;
  padding: 0.2em;
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  

}

button:hover {
  background-color: RGBA(75, 136, 157, 0.2);;
  text-shadow: -1px 1px #27496d;
}

.locker-container {
  padding-top: 1em;
  display: block;
  line-height: 1.7em;
  text-align: left;
}

.list-container {
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  text-align: center;
}


.locker-header {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  color: #FF4B4B;
  font-family: sans-serif;
  font-weight: 100;
}

 .locker-bank {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
 }

.vlocker {
	width: 50%;
	padding-bottom: 50%;
	font-size: 1em;
	position: relative;
	display: block;
	float: left;
	box-sizing: border-box;
	overflow: visible;
}



.card, {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #5081FC;
	border-radius: .5em;
  border: solid 2px;
  border-color: white;
 box-shadow: 0px 0px 10px 0px white;
 transition: all 0.5s;
}

.lockerTitle {
	color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lockerDetails {
  color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buy-button {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.open-button {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.vpopout {
  position: relative;
  width: 160%;
  height: 160%;
  background-color: #0445EA;
  z-index: 1000;
  display: none;
  transition: display 0.2s;
  opacity: 0.95;
  border-radius: .5em;
}

.stock-container{
  position: fixed;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: .5em;
  color: #FF4B4B;
  z-index: 1000;
  padding: 2em;
  font-size: 1em;
  padding-bottom: 4em;
  font-weight: 100;
  display: none;
}

.stock-item .item-stock{
  margin-top: 1em;
 	position: absolute;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stock-item input{
  margin-bottom: .5em;
}

.stock-item textarea{
  margin-bottom: .5em;
}


.stock-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.close {
  position: fixed;
  float: right;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 1.45em;
}

.close:hover {
  background-color: #5081FC;
  border: none;
}
