@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Kadwa);

.container{
  padding: 0.5em 0;
  text-align: center;
  // min-height: 100vh;
  z-index: 1;
  position: relative;
 
}

h1 a:visited{ color: inherit; }

body{
 background-color: RGBA(69, 136, 156, 0.5);
 font-family: sans-serif;
}

h1{
  font-size: 5em;
}

h3 ,.tagline{
  font-size: 2.5em; 
}

.tagline {
  // font-size: 1.5em;
  color: #eee;
}
  
.title{
  color: #eee;
  text-shadow: 1px 3px #27496d; 
  font-family: $title-font;
}

.my-page-header{
  z-index: 1;
  padding:3em 1.5em;
  position: fixed;
  top:0;
  right: 0;
  left: 0;

}

.my-page-header.sticky {
  padding: 1.5em;
  background-color: RGBA(69, 136, 156, 0.5);

}

ul{
   position: absolute;
   top: 0;
   right:0;
}

ul li{
  display: inline-block;
  padding-right: 0.5em;
}

a{
  text-decoration: none;
}

//BUTTONS

button {
  font-size: 1em;
  border: none;
  border-radius: 10px;
  color: #eee;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em; }

button:hover {
  color:#eee;
  background-color: RGBA(69, 136, 156, 0.6);
  text-shadow: -1px 1px #27496d;
  border: 1px solid black; }
  
 .buy-button {
  display: none;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stock-button {
  display: none;
}

.open-button {
  display: none;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.register-btn, .login-btn{
  background-color: $register-button;
  border: none;
  font-size: 2em;
  

}

.login-btn{
  background-color: #eee;
  color: black;
}


.locker-container {
  padding-top: 1em;
  display: block;
  line-height: 1.7em;
  text-align: left;
}

.list-container {
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  text-align: center;
}


.locker-header {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  color: #FF4B4B;
  font-family: sans-serif;
  font-weight: 100;
}

 .locker-bank {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
 }
 
 @media (max-width: 48em) {
    .locker-bank {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
 }
 }

.vlocker {
	width: 50%;
	padding-bottom: 50%;
	font-size: 1em;
	position: relative;
	display: block;
	float: left;
	box-sizing: border-box;
	overflow: visible;
}

.card {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #5081FC;
	border-radius: .5em;
  border: solid 5px;
  border-color: #003AC1;
 box-shadow: 0px 0px 0px 5px #003AC1;
 transition: all 0.7s;
}

<<<<<<< HEAD
.action-container{
=======


.vpopout {
>>>>>>> c16b6029e8fd474d84c8884292e64f4b56c3a64e
  position: fixed;
  height: 70%;
  width: 60%;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: none;
}
.vpopout {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0445EA;
  z-index: 5;
  opacity: 0.95;
  border-radius: .5em;
}

.vpopout img{
  margin-top: 3em;
  display: block;
  border-radius: .5em;
  height: auto;
  width: 50%;
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
}

@media (max-width: 48em){
  .vpopout {
      height: 70%;
      width: 85%;
}
}


 @media (max-width: 48em) {
    .vpopout {
    margin-left: auto;
    margin-right: auto;

    width:100%;
 }
 }

.image-wrapper {
 
  height: 70%;
  width: 70%;
  border-radius: .5em;
  top: 50%;
	left: 50%;
  transform: translate(20%, 10%);
  background-color: black;
  opacity: 1;
  border-radius: .5em;
  z-index: 1500;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: .5em;
  opacity: .5;
  z-index: 1000;
}

.lockerTitle {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lockerDetails {
  padding-top: 1em;
  color: white;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}




footer{
  background-color: RGBA(43, 44, 45, 0.6);
  color: #eee;
  text-align: center;
  
}

.stock-container{
  position: fixed;
  top: 0;
	right: 0;
  bottom: 0;
  width: 0%;
  background-color: #eee;
  border-radius: .5em;
  color: #FF4B4B;
  z-index: 1000;
  font-size: 1em;
  font-weight: 100;
  transition: all 0.5s;
  overflow: hidden;
}

.stock-item .item-stock{
  margin-top: 1em;
 	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.stock-container h4, {
  margin-bottom: .5em;
  margin-left: 2em;
}
.stock-container select, .stock-container span, .stock-container textarea, .stock-container input{
  margin-bottom: .5em;
  margin-left: 2em;
}
.photo-input {
  margin-left: 0em !important;
}
.stock-container :first-child {
  margin-top: 2em;
}


.stock-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.close {
  position: fixed;
  float: right;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 1.8em;
}

.close:hover {
  background-color: #5081FC;
  border: none;
}

fieldset{
  border: none;
}
