@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add182:before {
	content: "\e000";
}
.flaticon-archive34:before {
	content: "\e001";
}
.flaticon-barcode12:before {
	content: "\e002";
}
.flaticon-businessman267:before {
	content: "\e003";
}
.flaticon-cancel19:before {
	content: "\e004";
}
.flaticon-computers7:before {
	content: "\e005";
}
.flaticon-days2:before {
	content: "\e006";
}
.flaticon-internet16:before {
	content: "\e007";
}
.flaticon-magnifying59:before {
	content: "\e008";
}
.flaticon-man237:before {
	content: "\e009";
}
.flaticon-money181:before {
	content: "\e00a";
}
.flaticon-payment7:before {
	content: "\e00b";
}
.flaticon-protected9:before {
	content: "\e00c";
}
.flaticon-round57:before {
	content: "\e00d";
}
.flaticon-rounded54:before {
	content: "\e00e";
}
.flaticon-servers1:before {
	content: "\e00f";
}
.flaticon-smartphone54:before {
	content: "\e010";
}
.flaticon-wireless29:before {
	content: "\e011";
}
