/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 30%;
}
.span_1_of_2 {
	width: 60%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.68%;
}
.span_3_of_5 {
	width: 59.36%;
}
.span_2_of_5 {
	width: 39.04%;
}
.span_1_of_5 {
	width: 18.72%;
}




/*  GO FULL WIDTH BELOW 480 PIXELS */



@media only screen and (max-width: 930px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 50%; }
	.action-call{
		font-size: 1.5em;
	}
	
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 20%; }
	
	
	.email{
		margin-left:0.9em;
		text-align: 2px;
	}
	
	.join{
		
		
		margin-left: 2em;
		font-size: 1.5em;
		margin-top:0.3em;
	}
	
}
@media only screen and (max-width: 500px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
		
		h1{
			padding-top: 1em;
			font-size: 4em;
		}
		h3{
			font-size: 1.5em;	
		}
		.action-call{
		font-size: 1.8em;
	}
	
	.email {
		margin-left:10%;
		margin-bottom:10px;
		
	}
	
	.join{
		
		font-size: 1.5em;
		margin-left:10%;
	}
	
@media only screen and (max-width: 800px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 48%; }
	
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 50%; }
	
	
	.email{
		margin-left:10%;
		margin-bottom:10px;
		
	}
	.join{
		
		font-size: 1.5em;
		margin-left:10%;
	}
}





	

	
	
	
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
	
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	
	.select{
		width:100%;
		// margin: auto;	
	}
	.title{
		margin-top: 0;
		margin-bottom: 1em;
		padding-top: 0;
		font-size: 3.5em;
	}
	
	.tagline{
		font-size: 1.6em;
	}
	
	.hero-container{
		position: static;
		margin: 0;
		background:
	  linear-gradient(
      RGBA(36, 40, 56, 0.5),
      RGBA(159, 129, 184, 1)
    ),
    url("../img/city2.jpg");
    background-size: 130% 100%;
    background-repeat:no-repeat;
	}

.section1 {
margin-top: 0; 
}	

.section5 {
  margin-bottom:0;
}
	.section6{
	display: block;
	background:
	  linear-gradient(
      RGBA(36, 40, 56, 0.5),
      RGBA(159, 129, 184, 1)
    ),
    url("../img/city2.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
		// background-position: center ;
}
}