.login{
	
	text-align: center;
	background-color: rgba(234, 235, 230, 0.5);
	padding: 2em;
	margin-top: 1em;
	width: 60%;
	margin: auto;
	border-radius: 30px;
}

.center{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	width: 60%;
	margin: auto;
	border-radius: 30px;
}

.register{
	
}