{% extends "profiles/base.html" %}

{% block content %}
<div class="login">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
<p>To log in as a different user, first <a href="/logout/">log out</a> of your
    current account.</p>
    <p>Or view your <a href="/#/dashboard">dashboard</a></p>    
{% else %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<form class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <fieldset>
      {{ form.username.label_tag }}
      {{ form.username }}
    </fieldset>
    <fieldset>
      {{ form.password.label_tag }}
      {{ form.password }}
    </fieldset>
   </div>

    <!--<input  class="pure-button pure-button-primary" type="submit" value="login" />-->
    
    <button class="login-btn"  type="submit"  value="login">Log-In</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endif %}
</div>
{% endblock %}


