@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Kadwa);

.container{
  // width: 100%;
  padding: 0.5em;
  text-align: center;
  height: 100vh; 
}

body{
  min-height: 4em;
}

h1{
 font-family: 'Kadwa', serif;
 font-size: 5em;
}

.hero-container {
  padding-top: 8.5em;
  background: #1f8dd6;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  // bottom: 10;
  // height: 100%;
  // position: fixed !important;
  // background: 
	//   linear-gradient(
  //     RGBA(108, 129, 184, 0.5), 
  //     RGBA(159, 129, 184, 0.5)
  //   ),
  //   url("../img/locker.jpg");
  //   background-size:cover;
	//   background-position: bottom;
  //   background-repeat: repeat-x;
	  
}

.section1{
  background-color: RGBA(36, 40, 56, 1);
  height: 100vh;
  margin-top: 100vh;
}

.section2{
	  background-color: #eee;
    min-height: 6em;
}

.section3{
	  background-color: #1f8dd6l;
    min-height: 6em;
}
.section3 h1{
  background-color:RGBA(31, 141, 214, 1);
  padding: 0;
}

.my-page-header{
  padding:3em 1.5em;
  background-color: grey; 
  position: fixed;
  top:0;
  right: 0;
  left: 0;

}

.my-page-header.sticky {
  padding: 1.5em;
  
}

ul{
   position: absolute;
   top: 0;
   right:0;
}

ul li{
  display: inline-block;
  padding-right: 0.5em; 
}

a{
  text-decoration: none;
}

.info{
  background-color:#eee;
}


.register-btn{
  background-color: $register-button;
}

